html {
  min-height: 100vh;
  background-color: #000;
}
body {
  text-align: center;
  background-position-x: center;
  background-position-y: center;
}

#board {
  background-color: #000;
}

@media screen and (min-width: 1080px) {
  main {
    max-width: 1080px;
    margin: auto;
  }
}
html,
a,
button {
  cursor: url(../img/technical/cursor.svg), pointer;
}